.container{
    background-color: rgb(194, 194, 194);
}
.text-logo{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: 900;

}
.text-logo:hover{
     color: black;

}
body{
    color: black;
}
p{
    /* background-color: rgba(250, 247, 255); */
    /* padding: 20px 20px; */
}
.text-family{
    background-color: rgb(210, 204, 216);
    padding: 25px;
    box-shadow: 0 0 5px #474554;
}
.family-first-p{
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    border-bottom: 1px solid #474554;
    
}
.family-text-p{
    font-family: 'PT Serif', serif;
}
#ACA7CB
